<!DOCTYPE html>
<html>
<head>
	<title>New Job</title>
</head>
<body>
	<div>
			<h2>New Job</h2> 		
	</div>

	<a href="/home">Back</a>|
	<a href="/logout">Logout</a><br>

	<form method="post">
		companyname: <input type="text" name="cname"><br>
		jobtitle: <input type="text" name="title"><br>
		joblocation: <input type="text" name="location"><br>
		sallary: <input type="password" name="salary"><br>
		<input type="submit" name="" value="Submit">
	</form>

</body>
</html>